<h1>Introduction to semantic meta-modeling with Thinklab: a user's guide.</h1>

<p>Modeling is the production of simulated observations of a system, meant to help understand its structure or behavior. Armed with the power of creating such observations, we can visualize and analyze the results of choices we could make in real life before we actually make them. Modelling practice has advanced to a point where very complex models can be described succinctly using sophisticated mathematics. This sophistication, however, usually applies to the mathematical instruments used but does not extend to the semantics (conceptual description) of the systems under investigation. The conceptual view of the system incorporated in a model is usually very basic: time may be a number starting from zero, initial conditions are three-letter "variable" identifiers hidden in configuration files that change completely for each model, etc. The lack of a solid, systematic and self-consistent conceptual description of the system modeled stands in the way of model integration, internal consistency checking, communication and validation of model structure, and ability to reuse models in different contexts or together with others. All this diminishes the value of existing models to the point that they can often only be used effectively by their developers. Unless <em>you</em> have written a particular model (and you have done it yesterday) extending or upgrading it is often difficult, time-consuming and fraught with doubt about what the various model components actually <em>mean</em>. </p>

<p>This documentation is an initial attempt to describe <em>semantic meta-modeling</em>, a methodology that uses explicit semantics and machine reasoning to support integrated, multi-paradigm, multi-scale model development. The Thinklab language described here is the instrument we are developing to make this vision practical. Please note that everything about this notes (even the <em>Thinklab</em> name) is in its initial stages and should be considered both confidential and subject to change.</p>

<blockquote>
  <p>The language, software and documentation have been developed by Ferdinando Villa with the collaboration of the ARIES project team, including but not limited to Kenneth Bagstad, Brian Voigt, Gary Johnson, Ioannis Athanasiadis, and Luke Scott. Please consult with the first author at ferdinando.villa@bc3research.org before sharing or making any use of this material unless previously coordinated.</p>
</blockquote>

<h2>Semantic meta-modelling</h2>

<p>Thinklab aims to address the task of "integrated modeling", which reconciles strong semantics with modeling practice, helping achieve advantages (such as modularity, flexibility, validation, and integration of multiple paradigms and multiple scales) that have remained largely unrealized to this day. To achieve this goal, Thinklab keeps the <em>logical</em> representation of the modeled world distinct from the <em>algorithmic</em> knowledge that allows it to be simulated, and uses artificial intelligence to assemble the latter into the best possible algorithms to simulate a system described by users in a purely conceptual and much simpler way.</p>

<p>As suggested above, semantic modeling, or more accurately <em>semantic meta-modeling</em>, uses the idea of <strong>observation</strong> as the unifying theme to define a general way to model physical objects and phenomena (Fox and Hendler 2009). A model is a <em>strategy</em> to produce observations of a <em>concept</em> that comes from a shared knowledge base. <strong>In order for models to be compatible and be capable of being used as component of the same computation, it is sufficient that the abstract knowledge they represent is compatible.</strong> Modern artificial intelligence provides algorithms and tools to automatically validate the consistency of an abstract knowledge base. This way, the approach enables the integration of many modeling paradigms that are often applied separately, for example spatially-explicit to process- and agent-based models, or probabilistic and deterministic models. This conceptualization builds a natural path to reach goals in modeling that have frequently been discussed, but not demonstrated to their full potential, including modular modeling, multiple-paradigm modeling, multiple-scale modeling and structurally variable modeling.</p>

<p>The logical representation is modeled using concepts and relationships that comprise Thinklab's abstract knowledge base, built out of <em>ontologies</em> (more on this <a href="ontologies.html">later</a>). In the abstract knowledge base, concepts such as "watershed," "elevation," or "temperature" are defined, along with information on how they may relate to each other. No attempt is made to indicate <em>how</em> their models may be computed.</p>

<p>The <em>algorithmic</em> knowledge base is where you can provide <em>models</em> so that simulated "observations" can be computed. At the user's request, the artificial intelligence in Thinklab will choose algorithms from this knowledge base and build an integrated algorithm by assembling them, driven by the abstract semantics. The result of calibrating and running the integrated model is the production of <em>observations</em> of the concepts contained in the abstract knowledge base. </p>

<p>A model in Thinklab represents a <em>strategy to observe</em> a concept. Models can consist of entire simulations, simpler algorithms, datasets, or even simple numbers; from the Thinklab point of view, all these just represent different ways to observe a concept. In striking difference from almost all mainstream modeling approaches, numbers, data or equations have absolutely no meaning by themselves, even with descriptive names or associated with formal metadata: even the simplest number can only be used in Thinklab if it has a <em>concept</em> associated with it. Thinklab forces you to use concepts so that "metadata" in your models only document auxiliary information as they should; the conceptual part of the knowledge base serves automatically as the documentation of the models, while at the same time providing a layer of "meaning" on which collaboration and model integration are based. </p>

<h2>Structure of this document</h2>

<p>This documentation contains, for now, five main chapters and a glossary, subdivided as follows:</p>

<ol>
<li>Chapter 1, <a href="0101.html">Collaborative infrastructure and the semantic modeling workflow</a> provides generalities about both the Thinklab language and the collaborative environment it is expected to support. Initial examples of semantic model specification are illustrated.</li>
<li>Chapter 2, <a href="0102.html">Models as observations: subjects, qualities and traits</a> introduces the semantic framework for observable concepts that we adopt in Thinklab.</li>
<li>Chapter 3, <a href="0103.html">Connecting data to models: semantic annotation and observation semantics</a> introduces the semantics of <em>observations</em> that can be connected to <em>observables</em>, and the language statements that implement it. The examples concentrate on the <em>semantic annotation</em> of existing information such as data.</li>
<li>Chapter 4, <a href="0104.html">Computing deterministic and probabilistic observations</a> extends the material of Chapter 3 to the case of computed information, which in Thinklab is uniform with data, and to providing semantics for externally computed information.</li>
<li>Chapter 5, <a href="0105.html">Making model choices depend on context</a>, details the notion of <em>scale</em> in Thinklab, and the ways that specific model choices made by the reasoning algorithms are made and how they can be constrained to specific scales or otherwise influenced. In the process, conditional models, scenarios and the ways to influence Thinklab's resolution of models to concepts are described.</li>
</ol>

<p>The chapters above provide a basic user guide to the new user of Thinklab, meant to support in-class instruction, and are by no means exhaustive of the system for either the conceptual side or the implementation. Not all examples in the chapter are guaranteed to work at all times; links to sections of this documentation that appear in the text may lead to non-existing pages. Any new documentation will appear in this section of as it is completed and reviewed.</p>

<p>The current documentation was written by Ferdinando Villa and reviewed by the collaborators listed above, with the addition of Stefano Balbi, Aiora Zabala Aizpuru, Elena Perez-Minana and Simon Willcock. The Bayesian network primer was written by Kenneth Bagstad, who also compiled the Glossary, with the collaboration of the authors listed. Gary Johnson wrote the cookbook examples.</p>
