<p>﻿# Module 1. Collaborative infrastructure and the semantic modeling workflow.</p>

<p>Thinklab is a computer language and software toolset that supports a modeling paradigm where carefully designed components can be shared within a broad modeling community, without previous coordination. To achieve this, all model components are <em>semantically annotated</em>, i.e., associated to generally recognized concepts, such as "watershed" or "elevation." The operation of annotation establishes, explicitly and unambiguously, the <em>identity</em> of each modeled entity and its boundaries of validity for it (e.g., a particular spatial region or temporal period). Using a shared set of <em>ontologies</em> (computer documents that define concepts and their relationships) ensures that independently developed model components can be linked without ambiguity or error and be used by a growing global research community.</p>

<p>The components needed to achieve this vision are:</p>

<ol>
<li>A web-based infrastructure that connects model developers, helps coordinate knowledge and model sharing, and controls data access and distribution in a way that correctly supports collaboration.</li>
<li>A suite of shared ontologies to ensure a stable <em>common language</em> for data and models, modified only through a carefully designed, collaborative workflow that facilitates conflict-free ontology extension.</li>
<li>A modeling language and server (provisionally named <strong>Thinklab</strong>), and an end-user software toolkit (<strong>Thinkcap</strong>), which enable model development with semantic annotations based on the shared ontologies. Thinkcap is a graphical user interface (GUI)-based client that communicates with one or more Thinklab servers to publish, run, and share models and knowledge. The Artificial Intelligence for Ecosystem Services (ARIES) project uses Thinklab for its underlying operation; Thinkcap is the primary means of model development for ARIES modelers. Other applications of Thinklab and Thinkcap are possible outside the field of ecosystem services.</li>
</ol>

<p>This document is the first of a suite of modules aimed to serve as reference and guide for a brief course in semantic modeling. As this material is fairly novel, do not worry if it is not totally clear after the first read. The text below provides a brief introduction to the three key components listed above.</p>

<h2>Component 1: the collaborative, web-based infrastructure</h2>

<p>A complete semantic modeling platform can be installed on a desktop computer and used by a single modeler. However, the full value of this paradigm can only be achieved when the models and the knowledge they represent are shared with a broad model developer community, so that each researcher can concentrate on, and contribute scientific advances for, the issues that reflect their expertise and interests. The semantic modeling approach facilitates integration across all modeling disciplines through the use of common concepts.</p>

<p>The collaborative infrastructure that supports this sharing is a web-based application that allows the desktop application to synchronize with a distributed set of common ontologies, data, and models. The synchronization is automatic using the Thinklab/Thinkcap software suite, and guarantees that the "core" concepts used by all model developers are the same. Model developers can register to obtain official certification and join specific modeling groups, which give access to different “views” of the shared knowledge base. Each user in the same group will use the same core ontologies, and the collaborative infrastructure grants access to public models built by all model developers that belong to the same groups.  Groups can be hierarchically organized to fine-tune access to restricted datasets without compromising access to core and public knowledge.</p>

<p>Use of the software requires registration at [integratedmodelling.org/dashboard] and a request to the site administrator for certification. Certification results in a certificate file being emailed to the user, which is copied in the <code>.thinklab/</code> directory under the user's home directory and is automatically loaded by the software to identify the user and allow access to all shared resources for the groups s/he belongs to.</p>

<h2>Component 2: Semantic modeling and ontologies</h2>

<p>The central tenet of semantic modeling is to maintain the <em>meaning</em> of anything being modeled. This emphasis on <em>meaning</em> facilitates model sharing with other, independent modelers: if the meaning of concepts is consistent throughout the modeling community (including, and not limited to, their temporal and spatial properties, and all relationships between them and other concepts), the models developed for  those concepts are automatically compatible. The Thinklab system is specifically designed to take advantage of this semantic modeling approach. Concepts are used to describe each entity in a model using a programming language whose syntax is optimized for this task. </p>

<p>The semantic modeling workflow differs from that of other, more common, modeling approaches. Specifically, model development requires first of all that a specific <em>subject</em> is identified that is described by a concept representing the <em>context</em> for all subsequent modeling (e.g., a watershed). This concept is crucial: describing an area as a “region” has a different meaning than describing that same area as a “watershed”, as models that work on a watershed (for example, to extract the stream channel network) will not work on a region. Additional concepts can be identified to describe each <em>quality</em> (e.g., elevation, slope), <em>process</em> (e.g. erosion, rainfall),  <em>subject</em> (e.g. household, city, river) or <em>event</em> (e.g. inundation, fire) of interest. </p>

<h2>Component 3: The Thinklab modeling language and Thinkcap software environment</h2>

<p>The Thinklab <em>modeler</em> workflow uses the Thinklab modeling language to create models for specific concepts and define their context of validity. For most users, model development and testing will take place within the Thinkcap software environment., which provides an intelligent editor for the language and facilities to interact with servers to synchronize and search knowledge, test, run and publish models. Thinklab also supports a <em>user</em> workflow, which we will not discuss in these notes aimed to modelers: this workflow is supported by a separate web application (in course of development at the time of this writing) and is of much simpler nature, aimed to allow non-technical users to search for concepts, define a context and run models using simpler metaphors to use the library of knowledge created by modelers without being exposed to model details. </p>

<p>Any model, with the exception of <em>data</em> (NOTE: in Thinklab, data <em>are</em> models) may require the observation of further concepts, besides its own observable, in order to be computed. For example, a model of vegetation growth may require rainfall, soil and temperature observations. In Thinklab, as mentioned, all these <em>dependencies</em> are expressed using concepts; Thinklab applies search algorithms to iteratively match concepts to models as many times as necessary, <em>resolving</em> concepts to models as new dependencies are brought in by the models selected. Heuristics and artificial intelligence are employed to define the <em>most suitable</em> model at every step, based on both objective and subjective criteria (such as modeler-defined data quality). This process, called <em>resolution</em>, enables Thinklab to integrate a large and distributed model base and make it accessible to non-technical users: since queries are performed on <em>concepts</em>, running any model is paramount to conducting a web search for the concept(s) of interest. Indeed, the combination of a shared model base and the Thinklab language and infrastructure can be thought of as a <em>semantic web</em> implementation specialized to handle and serve “live” model knowledge.</p>

<h2>A modeling workflow example</h2>

<h3>Creating a context</h3>

<p>As mentioned above, running a model requires establishing a <em>context</em> first of all. A context can represent any kind of subject, but in our example we will use mostly contexts that are associated to spatial locations, the most useful for the type of ecoinformatics modeling we use in applications. So we will talk about context regions, watersheds, villages and the like. The spatial aspect of a subject pertains to its <em>scale</em>, as one of the <em>extents</em> in it; those may also include time and potentially others, which will not be discussed here. A geographic extent can be defined using Well-Known Text (WKT) : see the <a href="0203.html">glossary</a> for a definition and example. A simple geographical polygon using WKT can be written by listing a <a href="http://www.spatialreference.org">projection code</a> followed by sets of spatial coordinates, like in:</p>

<pre><code>EPSG:4326 POLYGON((-70.8783850983603 -3.3045881369117316,-69.05465462961 -3.2661991868835875,-69.13155892648547 -4.575963434877864,-70.91683724679801 -4.630717874946029,-71.15853646554768 -4.263784638927346,-70.8783850983603 -3.3045881369117316))"
</code></pre>

<p>The above WKT can be used within a simple Thinklab statement to create the Leticia region of Peru, using the subject type<code>im.geography:Region</code> (a concept from the<code>im.geography</code> ontology that defines a simple region of geographical space – see below). The full statement is written as:</p>

<pre><code>observe im.geography:Region leticia-peru over space(
    grid = "500 m", 
    shape = "EPSG:4326 POLYGON((-70.8783850983603 -3.3045881369117316,-69.05465462961 -3.2661991868835875,-69.13155892648547 -4.575963434877864,-70.91683724679801 -4.630717874946029,-71.15853646554768 -4.263784638927346,-70.8783850983603 -3.3045881369117316))"
);
</code></pre>

<p>The observe statement instructs the system to create a region named ‘leticia-peru’, whose spatial scale will be represented by a 500-m cell size over the polygon defined by the WKT. 
A couple things to note. First of all, the identifier for a concept in the Thinklab language is composed of two parts separated by a colon. The first is the <em>namespace</em>, which corresponds to a single file that contains concepts and models for a particular topic (e.g., im.geography). The second is the name of the concept within that namespace (i.e. Region). Simply stated, the core concept Region, a generalized geographic region, is found in the im.geography <em>namespace</em>. (Naming conventions and a capitalization scheme have been adopted and will be explained in detail later).</p>

<p>Another important point. It is easy to get confused by thinking of the “polygon” as the “context”. Indeed, a context is the whole <em>subject</em> created by the statement, and its identity is given by the <code>im.geography:Region</code> concept – the <em>observable</em> for this subject. We have said above that the whole purpose of semantic modeling is to associate <em>models</em> to concepts. Indeed, when the above statement is “run” to create the subject and make it the context of further modeling, the resolution algorithms in Thinklab search for models associated to the observable <code>im.geography:Region</code>.  Since no special semantics are attached to regions, no models are (by default) associated to this concept, as a region is sufficiently specified by assigning its spatial (and possibly temporal) scale. If, however, we had intended our region of interest to be a watershed, we could have written instead:</p>

<pre><code>observe im.hydrology:Watershed leticia-peru over space(
    grid = "500 m", 
    shape = …
);
</code></pre>

<p>While the statement looks almost exactly the same, the <em>meaning</em> is very different, as we are now defining a subject with much more conceptual detail associated.  If nothing special besides the scale is needed to characterize a semantically consistent <code>im.geography:Region</code>, a <code>im.hydrology:Watershed</code> has important restrictions: for example, the watershed has a shape that excludes areas that are not hydrologically reachable by rainwater. For all practical purposes, a watershed <em>is</em> a region, but it has additional semantics: using the knowledge visualization facilities in Thinkcap, you can explore the im.hydrology ontology to reveal that <code>im.hydrology:Watershed</code> is indeed linked to <code>im.geography:Region</code> by an <em>is-a</em> relationship, meaning that a watershed is a special region (but a region is not a special watershed). </p>

<p>The result of this tiny change in the specification is quite dramatic. When the watershed above is used as a context for modeling, Thinklab will check the ontology (<code>im.hydrology</code>) and find that some <em>functional properties</em> are required in order for a watershed to be semantically consistent. For example, all hydrologic observations on a watershed require that a digital elevation model, flow direction attributes and a stream network be defined. 
Faced with this need derived only by semantic analysis, Thinklab will look for a <em>subject model</em> that can produce these additional observations to complete the definition of a watershed when it is created. You can provide your own, custom-developed models for the same purpose, and tell Thinklab in which conditions it should be used (you can do the same also for a Region). As a default, the one model associated with <code>im.hydrology:Watershed</code> will run the set of hydrological analyses that comes with Thinklab, depending on being able to observe the elevation over the spatial scale defined for the watershed. If the elevation concept (<code>im.geography:Elevation</code>) can be <em>resolved</em> to a model in the knowledge base, this model is run to observe it, and the Watershed model is then run. The result is the computation of the basic hydrological characterization of the watershed, which includes the pit-filled elevation, the total contributing area for each point in the watershed, and the stream network in the region. All this happens without any user intervention: Thinklab simply recognizes that in order for a subject to properly represent a watershed, these quantities must be known, and proceeds to <em>observe</em> them based on the available knowledge base. </p>

<p>The modeling client software (Thinkcap) makes all these operations more intuitive by providing a workflow to create subjects and making observations in their context. Once the <em>observe</em> statement has been written, a marker named 'leticia-peru' will appear in the Navigator window of the Thinkcap interface. Dragging and dropping the ‘leticia-peru’ marker into a "context" window creates a <em>subject</em>, named leticia-peru. If the watershed version of the statement is used, this triggers the search for elevation and the computation of hydrological properties. 
Now that a subject has been created to use as a context, the <a href="020202.html">interface</a> will display the "root" subject named <code>leticia-peru</code>. The map window of the interface will display the area of interest. Dragging other concepts onto the map allows triggers their resolution to models; if an adequate model is found, the concepts are observed by computing the model, and visualized in the same interface.</p>

<h2>Observing concepts in the context.</h2>

<p>Once a subject has been created, you have a context in which you can observe more concepts if you want to. In the modeler software Thinkcap, you can locate a concept (from the Navigator or the Knowledge Search window) and drag it in to the context window; this is the equivalent of attempting to observe it in that context. As a response, Thinklab will evaluate whether the concept is able to be successfully resolved, i.e. a model associated with the concept can be found and run.  If a valid model for a concept in that context is identified, it will be run and the results will constitute new <em>observations</em> of that concept. Other observations may be made during the computation, and those will also be available to visualize. The resulting observations will be displayed in the interface once a model has run to completion. </p>

<p>If the effort is unsuccessful, the model base doesn’t have a suitable model, but you can write one and assign it to the concept. If you are interested in observing a concept that you cannot find in the ontologies, both the <em>abstract knowledge</em> (the concept, contained within ontologies) and the <em>model knowledge</em> (models) will need to be defined. This documentation emphasizes model development. However, the complete software documentation contains details on creating abstract knowledge as well. </p>

<blockquote>
  <p>NOTE: Abstract knowledge plays a significant role in this modeling approach and affects usability at all levels. The creation of abstract knowledge should be approached carefully and collaboratively to ensure its utility extends beyond an individual modeling effort.</p>
</blockquote>

<p>Concepts may describe <em>qualities</em>, <em>processes</em>, <em>events</em> or <em>subjects</em> (there are also <em>traits</em> which occupy a special niche and will be discussed later). Observations of <em>qualities</em> correspond to what is commonly called <em>data</em>.</p>

<h3>Qualities</h3>

<p>Concepts that describe qualities (e.g., land cover type, temperature) define entities that cannot "stand alone" (note: we’re playing with semantic fire here, and we strive for consistency in using terms that are colloquial but have special meanings in our discussion. We use the word <em>entity</em> to mean <em>anything</em>, devoid of further significance. The topic does not leave the luxury of using terms like <em>thing</em> or <em>object</em> without raising doubts, so we will stick to that). Qualities must <em>inhere</em>  to  a <em>subject</em> in order to be semantically consistent. For example, land cover type can only exist on some kind of “land” – so a  geographical region (e.g., a country, a watershed) subject is necessary. Temperature can only be measured within a specific realm (e.g., the lower atmosphere,  the ocean's  surface). As a result, an <code>observe</code> statement cannot be used with a quality concept where we put, for example, <code>im.geography:Region</code>. Thinklab will show an error marker and refuse to create your subject if an attempt is made to <code>observe</code> anything that doesn't describe a subject capable of standing alone as an independent object.</p>

<p>Once a subject has been established, all concepts that are compatible with being its qualities can be observed. The universe of concepts is held within the core ontologies and can be added to using the Thinklab language. In Thinkcap, the Knowledge Search view allows to search for concepts by name; double-clicking a concept resulting from the search displays the <em>knowledge graph</em>, which graphically relates the selected concept to the full knowledge base.</p>

<h3>Subjects, processes and events.</h3>

<p>Subjects, processes and events are "identities" that can stand alone semantically: you can recognize a subject or event without having to refer to another subject as context. They can, of course, also be observed within the context of another subject: for example, observing the subject concept <code>im.infrastructure:Bridge</code> within a <code>im.geography:Region</code>, if successful, will create all the Bridge subjects in that region, using the scale of the region as a guide to find bridges that exist in that space and time. While we do not discuss much detail here, the difference between the different types above deserves some more explanation. These kinds of concepts can be observed in the same way, but the results of observing a process or a subject are slightly different. While subjects have an identity that persists beyond their observation (i.e., observing them creates subjects that can be visualized independently and serve as individual contexts for other observations), processes and events are inherent to the subject they’re observed in: an ecosystem service, for example, is a process inherent to a region that affects its subjects (ecological and social) and causes certain qualities (e.g. environmental values) to exist for them. The most important difference is that observing a process does not generate an independent entity for it, because processes occur <em>within</em> subjects. The same applies to events, which are really processes but are seen as <em>atomic</em> with respect to time, and therefore treated differently with respect to the scale of the root subject. When observing a process or an event within the context of a subject, any qualities or subjects produced by the process will be assigned to the context subject instead of the process itself.</p>
