<h1>Reference sheets</h1>

<p>This part of the documentation contains quick reference sheets that can be useful during modeling practice. </p>

<p>The <a href="0201.html">unit reference</a> details the syntax for units of measurement understood by Thinklab's unit parser.
The <a href="0202.html">function reference</a> briefly describes the most common functions in Thinklab and their arguments.
The <a href="0203.html">glossary</a> lists the terms used most often in Thinklab documentation and provides a brief definition for each of them.</p>

<p>This section is far from complete and cannot substitute person-to-person instruction yet.</p>
