<h1>Supplemental material</h1>

<p>This section contains material that relates to the practice of modeling with Thinklab but is not directly related to the language or its implementation.</p>

<p>At the moment the only content available is a <a href="0301.html">primer on Bayesian networks</a>, given the common usage of these methods in models developed with Thinklab.</p>

<p>We also added the beginning of a Thinklab <a href="0302.html">cookbook</a> to show some examples of commonly used expressions and programming patterns. This section will be expanded with time.</p>
