.combo-box-no-border .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-no-border .text-field {
    -fx-background-color: transparent;
}

.combo-box-no-border .list-cell {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.sunken-icon {
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
    -fx-border-color: #999;
    -fx-border-width: 1;
}

.round-button {
    -fx-background-color: #fff;
    -fx-background-radius: 17px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-cursor: HAND;
    -fx-alignment: CENTER;
    /* -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1); */
}

.group-icon {
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-background-color: #607d8b;
    -fx-background-radius: 17px;
    -fx-min-width: 29px;
    -fx-min-height: 29px;
    -fx-max-width: 29px;
    -fx-max-height: 29px;
    -fx-alignment: CENTER;
}

.group-icon-developer {
    -fx-background-color: #03a9f4;
}

.inspector-view {
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-border-muted transparent transparent transparent;
    -fx-border-width: 0 0 0 0;
}

.inspector-content {
    -fx-padding: 8px;
    -fx-background-color: -color-bg-default;
}

.inspector-card {
    -fx-background-color: -color-bg-default;
}
